
//scss variables
// $colors:(
//     "secondary-color": #213F7D,
//     "btn-color": #39CDCC,
// )


$primary-color: #39CDCC;
$font-color:#213F7D;
$place-holder-color:#545F7D;

$small-font:1rem; 

$grid-cols:132px 110px 183px 131px 140px 110px 14px;

@mixin pills{ 
    display:flex; 
    justify-content: center;
    justify-self:center;
    font-weight:400;
    width:70%; 
    border-radius: 100px;
    padding:6px 0px;
}

@mixin field{ 
    background: #FFFFFF;
    opacity: 0.2;
    border: 1px solid #213F7D;
    border-radius: 8px;
    height:2.5rem;
    padding:.75rem 1.25rem;
}
